* {
  scroll-behavior: smooth;
}
.backgroundOpacity {
  position: relative;
  z-index: 1;
}

.backgroundOpacity::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.backgroundOpacityImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

